.highmap-world {
   width: 100%;
   height: auto;
   position: relative;
   padding: 16px;
   border-radius: 16px;
   box-shadow: -1px 2px 8px 0px rgba(0, 0, 0, 0.2);
}

.highmap-world__title {
   padding: 16px 0px;
   background-color: white;
   font-size: 1.5em;
   font-weight: 500;
   text-align: center;
}

.highmap-world__option {
   position: absolute;
   left: 24px;
   bottom: 24px;
   padding: 8px;
   border-radius: 8px;
   background-color: white;
   border: 1px solid rgb(204, 204, 204);
}

.highmap-world__option .title {
   font-size: 1em;
   text-align: center;
   font-weight: bolder;
   color: rgb(51, 50, 50);
}

.selection-map {
   padding: 8px 0px;
   border-bottom: 1px solid rgb(204, 204, 204);
}

.statistical-world .amount {
   font-weight: bold;
}

.statistical-world div {
   margin: 4px 0px;
   text-align: center;
}

.newcomfirm .amount {
   color: red;
}

.newdeath .amount {
   color: black;
}

.newrecovered .amount {
   color: rgb(0, 175, 0);
}

#choseHighMap {
   outline: none;
   border: none;
   margin: 0px 4px;
   padding: 4px;
   box-shadow: 0px 0px 4px 0px rgba(128, 128, 128, 0.5);
   background-color: rgba(192, 192, 192, 0.3);
}

@media (max-width: 739px) {
   .highmap-world__option {
      position: relative;
      left: 0px;
      bottom: 0px;
      padding: 8px;
      border: none;
      border-radius: 8px;
      background-color: white;
   }

   .highmap-world__title {
      border-radius: 8px;
   }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
   .highmap-world__option {
      position: relative;
      left: 0px;
      bottom: 0px;
      padding: 8px;

      border: none;
      border-radius: 8px;
      background-color: white;
   }

   .highmap-world__title {
      border-radius: 8px;
   }
}
